/* Font Icons */
$font_path: '~@/assets/fonts/';
@font-face {
	font-family: "Icons";
	font-style: normal;
	font-weight: normal;
	src: url($font_path + "icomoon.eot") format("eot"),
	     url($font_path + "icomoon.woff") format("woff"),
	     url($font_path + "icomoon.ttf") format("truetype"),
	     url($font_path + "icomoon.svg#icomoon") format("svg");
}

.icon {
    font-family: "Icons";
    font-style: normal;
}

/* Add icons list */
$icons: ( 
    arrow-right: "\e900", 
    arrow-left: "\e901",
    share: "\e902",
    car: "\e903",
    gallery: "\e904",
    list: "\e905"
);

/* Create class for each icon in the list */
@each $name, $value in $icons {
    .icon-#{$name}:before {
        content: $value;
    }
}