.box {
    margin: 30px 0;
    text-align: center;
    .box__item {
        @extend %inline;
        border: 1px solid $color-gray;
        border-radius: 5px;
        color: $color-black;
        margin: 15px;
        max-width: 150px;
        min-height: 200px;
        padding: 30px;
        text-align: center;
        figcaption {
            margin-top: 15px;
        }
        h2 {
            margin: 8px 0;
            font-size: 1.25em;
        }
        small {
            font-size: .85em;
        }
    }
}