footer {
    background: $color-black;
    color: $color-white;
    overflow: hidden;
    padding: 30px 0;
    p, ul {
        @include breakpoint(sm) {
            display: inline-block;
            vertical-align: top;
        }
    }
    p {
        font-size: .95em;
    }
    ul {
        margin-top: 20px;
        @include breakpoint(sm) {
            margin-top: 0;
            float: right
        }
        li {
            @extend %inline;
            font-size: .85em;
            @include breakpoint(sm) {
                margin: 15px 0;
                display: block;
            }
            &:first-child {
                margin-top: 0;
            }
            &:last-child {
                margin-bottom: 0;
            }
        }
    }
}