.slider {
    .slider__item {
        background: url("https://unsplash.it/g/1920/800?image=1") center;
        background-size: cover;
        .container {
            position: relative;
            height: 100vh;
        }
        .item__hero {
            background: rgba(255, 255, 255, .3);
            @include center();
            padding: 30px 20px;
            z-index: 999;
            @include breakpoint(md) {
                width: 50%;
            }
            h2, p {
                @extend %black;
            }
            h2 {
                font-size: 1.75em;
            }
            p {
                font-size: .95em;
                margin: 15px 0;
            }
            .button {
                &.is--yellow {
                    margin-left: 30px;
                    padding: 10px 50px; 
                }
            }
        }
    }
    .slick-arrow {
        border-radius: 50%;
        @include center();
        cursor: pointer;
        display: inline-block;
        height: 50px;
        transition: all .3s ease;
        width: 50px;
        z-index: 99;        
        &:hover {
            background: $color-white;
        }
        &:before {
            color: $color-black;
            font-size: 1.5em;
            @include center(both);
        }
        &.icon-arrow-right {
            right: 20px;
        }
        &.icon-arrow-left {
            left: 20px;
        }
    }
}