.slider {
    .slider__item {
        background: url("https://unsplash.it/g/1920/800?image=1") center;
        background-size: cover;
        .container {
            position: relative;
            height: 100vh;
        }
        .item__hero {
            background: rgba(255, 255, 255, .3);
            @include center();
            padding: 30px 20px;
            max-width: 50%;
            z-index: 999;
            h2, p {
                @extend %black;
            }
            h2 {
                font-size: 1.75em;
            }
            p {
                font-size: .95em;
                margin: 15px 0;
            }
            .button {
                &.is--yellow {
                    margin-left: 30px;
                    padding: 10px 50px; 
                }
            }
        }
    }
}