.tabs {
    font-size: 0;
    padding-bottom: 30px;
    li {
        font-size: 16px;
        @extend %inline;
        position: relative;
        text-align: center;
        @include prefix(transition, all .3s ease, webkit ms);
        width: 33.33%;
        a {
            display: block;
            font-size: .95em;
            padding: 20px 0;
            text-transform: uppercase;
        }
        .icon:before {
            display: block;
            font-size: 3.5em;
        }
        &:after {
            background: $color-black;
            content: '';
            @include center('horizontal');
            height: 2px;
            top: 0;
            width: 100px;
        }
        &.active {
            a {
                color: $color-yellow;
            }
            &:after {
                content: none;
            }
        }
    }
    
}
.tabs__content  {
    display: none;
    &.open {
        display: block;
    }
}
.sidebar, 
.content {
    @include breakpoint(md) {
        display: inline-block;
        vertical-align: top;
    }
}
.sidebar {
    @include breakpoint(md) {
        width: 30%;
    }
}
.content__wrap {
    @include breakpoint(md) {
        margin-top: 30px;
    }
}
.content {
    font-size: 16px;
    h2 {
        @extend %black;
        font-size: 1.5em;
        &.text-yellow {
            color: $color-yellow;
            margin: 15px 0;
        }
    }
    p {
        margin: 15px 0;
    }
    .content__head,
    .content__action {
        @include breakpoint(sm) {
            display:  inline-block;
            vertical-align: top;
        }
    }
    .content__head {
        @include breakpoint(sm) {
            width: 70%;
        }
    }
    .content__action {
        @include breakpoint(sm) {
            text-align: center;
            width: 25%;
        }
    }
}